/* 
    Document   : style
    Created on : 16-11-2012, 05:01:43 PM
    Author     : diana
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

#calendar {
    border: 1px solid #93ADDF;
    color: #fff;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 12px;
    background: #8BB6DE;
    text-align: center;
}
/*TABLA PARA LOS DIAS DE LA SEMANA*/
.tableDay {
    background: #76A2CB;
    position: fixed;
    display: block;
    width: 99%;
    border: 0px solid #93ADDF;
    border-collapse: collapse;
    opacity: 0.8;
}

/*Dias de la semana - estatico*/ 
.tdCalendar {
    /*background: #76A2CB;*/
    border-left: 1px solid #6F90AF;
    width: 18%;
}

/*Espacio en blanco horas*/
.thCalendar {
    background: #76A2CB;
    width: 35px;
    padding-top: 16px;
}


/*Horas paciente*/
.tdCalendar2 {
    border: 1px dotted #6F90AF;
}

/*Horas*/
.trCalendar {
    background: #8BB6DE;
    padding: 0px;
    border: 1px dotted #6F90AF;
}

.tableCalendar{
    border: 0px solid #93ADDF;
    border-collapse: collapse;
    width: 100%;
}

/*
Events objects
*/

.eventHeader {
    border: 1px #FF0000 solid;
    border-radius: 7px 7px 7px 7px;
    width: 100%;
    min-height: 100%;
    background: #D7D7D7;
    
}
.eventMiddle {
    border-left: 1px #FF0000 solid;
    border-right: 1px #FF0000 solid;
    width: 99.9%;
    background: #E0E0E0;
    height: 100%;
}
.eventEnd {
    border: 1px #FF0000 solid;
    border-radius: 0px 0px 7px 7px;
    border-top: 0px;
    width: 99.9%;
    background: #D7D7D7;
    height: 100%;
}
/* drag objects (DIV inside table cells) */
.drag {
    position: absolute;
    cursor: move;
    margin: 2px auto;
    z-index: 10;
    background-color: #6C6714;
    text-align: center;
    /* round corners for FF, Chrome, Safari (except IE) */
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    /* shadow for FF, Chrome, Safari (except IE)*/
    -moz-box-shadow: 4px 4px 8px #444;
    -webkit-box-shadow: 4px 4px 8px #444;
    box-shadow: 4px 4px 8px #444;
}