/* 
    Document   : style
    Created on : 16-11-2012, 05:01:43 PM
    Author     : diana
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

#calendar {
    border: 1px solid #93ADDF;
    color: #fff;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 12px;
    background: #8BB6DE;
    text-align: center;
}
/*TABLA PARA LOS DIAS DE LA SEMANA*/
.tableDay {
    background: #76A2CB;
    position: fixed;
    display: block;
    width: 99%;
    border: 0px solid #93ADDF;
    border-collapse: collapse;
    opacity: 0.8;
}

/*Dias de la semana - estatico*/ 
.tdCalendar {
    /*background: #76A2CB;*/
    border-left: 1px solid #6F90AF;
    width: 18%;
}

/*Espacio en blanco horas*/
.thCalendar {
    background: #76A2CB;
    width: 35px;
    padding-top: 16px;
}


/*Horas paciente*/
.tdCalendar2 {
    border: 1px solid #6F90AF;
}

/*Horas*/
.trCalendar {
    background: #8BB6DE;
    padding: 0px;
    border: 1px solid #6F90AF;
}

.tableCalendar{
    border: 0px solid #93ADDF;
    border-collapse: collapse;
    width: 100%;
}